:root{
    --basketbg:#e7e7e7;
    --basketframe:#fcfcfc;
  }

.container-totalorder{
    background-color: var(--basketbg);
    height: 110vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
    width: 99vw;
}
.totalorder-frame{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-y: visible;
    padding-top: 50px;
    width: 900px;
}
.test{
    width: 300px;
    height: 500px;
    background-color: black;
}
.total-back{
    align-items: center;
    background-color: var(--basketframe);
    display: flex;
    height: 35px;
    width: 900px;
}
.total-back>span{
    font-size: 20px;
    padding-right: 0;
}
.total-back>p{
    font-size: 15px;
}
.total-back>p:last-child{
    font-size: 15px;
    margin-left: auto;
    margin-right :15px;
}



/* ------------------------------------------ */
.total-basket{
    background-color: #fff;
    margin-top: 15px;
}

/* --------------------------------------------- */
.total-basket-storename{
    align-items: start;
    background-color: var(--basketframe);
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 50px;
    justify-content: start;
    padding-left: 25px;
    padding-right: 25px;
    width: 850px;
}
.total-basket-storename:after {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    margin-right: 35px;
    width: 850px;
    margin-top: -13px;
}

.basket-checkbox{
    margin-top: 2px;
    color: #000000;
    padding: 0px;
    font-size: 25px;
    /* background-color: antiquewhite; */
    margin-right: auto;
    margin-left: auto;
}
.basket-checkbox-frame{
    display: flex;
    /* background-color: #7e5050; */
}
.total-store-name{
    font-size: 16px;
    font-weight: bold;
}
/* ------------------------------------------------------------- */
.total-menus-frame{
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    display: flex;
    height: 135px;
    margin-left: 25px;
    margin-right: 25px;
    width: 850px;
}
.basket-menus-check{
    align-items: center;
    display: flex;
    height: 100%;
}
/* ------------------------------------------------------------- */
.basket-menus-info{
    background-color: #fff;
    display: flex;
    height: 135px;
    flex-direction: column;
    width: 530px;
}

.basket-menus-info-fst{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 135px;
}
.basket-menus-info-sec{
    width: 100%;
    height: 1500px;
    background-color: #c5c5c5;
}
.basket-menus-info-trd{
    width: 100%;
    height: 100%;
    background-color: black;
}

/* -------------------------------------------------------------------- */
.basket-menus-img{
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    gap: 5px;
    height: 100px;
    margin-top: 15px;
    width: 100px;
}
.basket-menus-etcinfo{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100px;
    justify-content: start;
    margin-top: 17px;
    width: 200px;
}
.basket-menus-etcinfo>p{
    height: 25px;
    margin: 0 0 0 20px;
    overflow: hidden;
    padding: 0;
    width: 200px;
}
.basket-menus-etcinfo>p:first-child{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
}
.basket-menus-etcinfo>p:nth-child(2){
    font-size: 17px;
    font-weight: 700;
    margin-top: -5px;
}
.basket-menus-etcinfo>p:nth-child(3){
    color: #696969;
    font-size: 13px;
    font-weight: lighter;
}
.basket-pm-div{
    display: flex;
    height: 135px;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    width: 70px;
    
}
.basket-pm-div>p{
    width: 15px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}
.basket-pm-div>button{
    background-color: transparent;
    border: none;
    font-size: 18px;
}

/* ------------------------------------------------------------------------------- */
.basket-menus-info-sec-price-frame{
    width: 100%;
    height: 30px;
    /* background-color: #000000; */
}

/* ------------------------------------------------------------ */
.basket-delete-frame{   
    align-items: center;
    border-right: 1px solid #5e5e5e;
    display: flex;
    height: 135px;
    margin-left: 15px;
    padding-right: 15px;

}
.basket-delete-frame>button{
    border: 1px solid #c5c5c5;
}
.basket-menus-price-frame{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 135px;
    justify-content: center;
    margin-left: 10px;
    width: 135px;
}
.basket-menus-price-frame>p{
    margin: 0px;
}
.basket-menus-price-frame>p:nth-child(2){
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}


/* -------------------------------------------- */
.total-order-decision{
    align-items: center;
    border-top: 1px solid #919191;
    bottom: 0;
    display: flex;
    height: 100px;
    left: 0;
    margin-left: 25px;
    right: 0;
    width: 850px;
}
.total-order-decision>div{
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dicision-order-div{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100px;
}
.dicision-order-div>p{
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0 0;
}
#dicisiontotalprice{
    color: rgb(255, 48, 48);
}
.dicision-order-div:nth-child(3){
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #292929; 
}
.dicision-order-totalprice{
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    width: 400px;

}

.dicision-order-totalprice>p{
    font-size: 18px;
    font-weight: 700;
}
.dicision-order-totalprice>button{
    background-color: #fb0;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 200px;
}



/* ----------------------------------------쿠폰 */
.coupon-window-frame{
    background-color: rgba(197, 197, 197, 0.322);
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coupon-window{
    background-color: #f3f3f3;
    border: 2px solid #e1e1e1;
    height: 400px;
    width: 300px;
    z-index: 2;
}
/* -------------------------------------------쿠폰 윈도우 */
.coupon-title{
    align-items: center;
    background-color: #fb0;
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 300px;
}
/* .coupon-title>div:nth-child(1){

} */
.coupon-title>div:nth-child(2){
    color: #ededed;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 19px;
    padding: 0;
}
.coupon-title>div:nth-child(3){
    color: #ededed;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin-right: 10px;
    color: antiquewhite;
}


.coupon-div-coupons {
    border: none;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 299px;
}
.coupons-zip {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.201);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: start;
    margin: 5px auto 10px;
    width: 250px;
}
.coupons-zip>p:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-top: -4px;
    margin-left: 40px;
}
.coupons-zip>p:nth-child(2){
    margin: 0;
    margin-top: 15px;
    margin-left: 40px;
}

.coupons-zip>p:nth-child(3){
    margin: 0;
    font-size: 12px;
    margin-left: 40px;
}


/* --------------쿠폰 container----------------------------- */
.coupon-frame {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 800px;
}
.coupon-frame>div:first-child {
    margin-left: 15px;
    margin-right: 30px;
}
.coupon-frame>div:nth-child(2) {
    /* align-items: end; */
    border-bottom: 1px solid #afafaf;
    height: 18px;
    padding-left: 150px;
    padding-right: 15px;
    text-align: end;
    width: 60px;
}.coupon-frame>div:nth-child(2) {
    align-items: end;
    border-bottom: 1px solid #afafaf;
    height: 18px;
    padding-left: 150px;
    padding-right: 15px;
    text-align: end;
    width: 60px;
}.coupon-frame>button {
    border: 1px solid #c5c5c5;
    margin-left: 15px;
    margin-right: -9px;
}