
.container-addressinfo{
    width: 100vw;
    height: 80vh;
    /* background-color: blanchedalmond; */
}
#address-frame{
    margin-top: 15px;
}
.container-addressinfo-frame{
    width: 900px;
    height: 400px;
    background-color: bisque;
    margin-left: auto;
    margin-right:auto;
    margin-top: 80px;
}
.span-location{
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 2px;
}
#address-state-choice{
    margin-bottom: 15px;
}
/* -----------------------------------------contents */
.myaddress-list-div{
    width: 100%;
    height: 70px;
    /* background-color: #eff7ef; */
    /* border: 1px solid black; */
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.226);
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 15px;

}
.myaddress-list-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}
.myaddress-list-contents-info{
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-left: 26px;
}
.myaddress-list-contents-post{
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-left: 26px;
}
.myaddress-list{
    width: 400px;
    height: 500px;
    overflow-x: hidden;
}

/* ---------------------버튼 */
.address-page-button{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    width: 400px;
    /* background-color: #878787; */
    margin-top: 40px;
}
.address-page-button>button{
    border: none;
    box-shadow: 1px 1px 1px #878787;
}





/* ------------------------------- */
.myaddress-list-save>form{
    width: 100%;
    height: 330px;
    /* background-color: #878787; */
    display: flex;
    flex-direction: column;
}
.myaddress-list-save form input[type="text"] {
    margin-top: 5px;
    width: 350px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-bottom: 5px;
    border: none;
    /* box-shadow: 1px 1px 1px #878787;  */
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.226);
}
.myaddress-list-save form input[type="submit"] {
    margin-top: 30px;
    width: 360px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(237, 248, 235);
    box-shadow: 2px 2px 4px rgba(34, 34, 34, 0.226);
    background-color: #fb0;
    cursor: pointer;
}
.myaddress-list-save form input[type="submit"]:hover {
 
    background-color: rgb(235, 172, 0);

}

.myaddress-list-save form label {
    margin-top: 5px;
}