:root{
    --ps:#ac0534;
    --con_wd:900px;
  }
.container-order-total{
    display: flex;
    flex-direction: row;
    height: 2000px;
    margin-top: 60px;
    width: 100%;
}
/* ______________________________________________________________ */
.container-order{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: var(--con_wd);
}
.container-order-frame{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.order-main-image-title-frame{
    display: flex;
    width: 900px;
    align-items: end;
}

/* 위에거 없애면 원래대로 */

.order-main-image{
    margin-top: 15px;
    width: 150px;
    height:150px;
    /* border: 2px solid #cecece; */
    border-radius: 5px;
}
/* .order-main-image{
    margin-top: 15px;
    width: 900px;
    height:250px;
    border: 2px solid #cecece;
    border-radius: 5px;
} */
.order-info{
    /* width: 900px; */
    height:140px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 10px;
}

/* .order-info{
    width: 900px;
    height:140px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
} */

.order-info>p,.order-info>h1{
    margin: 0;
    margin-left: 15px;
}
.order-info>p{
    color: #494949;
}
/* ______________________________________________________________ */

.menulist-frame{
    margin-top:15px ;
    width: 900px;
    height: 1000px;
}
.menulist-bottom-frame>button{
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: 3px 4px 5px rgba(0,0,0,.201);
    background-color: #f8f8f8;
}
.menulist-top{
    width: 900px;
    height: 100px;
    
    border-top: 0.5px solid #cacaca;
    border-bottom: 0.5px solid #cacaca;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    
}
.menulist-top-searchbar-div{
    width: 900px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}
.menulist-top-searchbar-div>*{
    margin: 5px;
}
.menulist-top-searchbar-div>h2{
    margin-top: -13px;
}
.menulist-top-searchbar-div>form{
    margin-top:25px;
    width: 400px;
    height: 45px;
    background-color: #eee2e2;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.menulist-top-searchbar-div>form>button{
    background-color: transparent;
    border: none;
}
.menulist-top-searchbar-div>form>button>span{
    color: #2e2e2e;
}
.menulist-top-searchbar-div>form>input[type=text]{
    width: 300px;
    height:30px;
    outline: none;
    border: 0;
    background-color: transparent;
}
.menulist-top-searchbar-div>form:focus-within{
    border: 2px solid var(--ps);
}
.menulist-top-searchbar-div>form:focus{
    border: 3px solid black;
}
.menulist-top-list{
    display: flex;
    align-items: flex-end;
    width: 900px;
    height: 50px;
    overflow: scroll;
}
.menulist-top-list::-webkit-scrollbar{
    display: none; 
}
.menulist-top-list>button{
    background-color: transparent;
    border: none;
}
.menulist-bottom-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    margin-top: 20px;
    width: calc(var(--con_wd)/10*6);
}
.menulist-bottom-frame>button>div,.menulist-bottom-frame>button{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: calc(var(--con_wd)/10*6);
    background-color: #f8f8f8;
}

.menulist-bottom-frame>button{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}
.menulist-button-span{
    font-size: 15px;
}

.menulist-bottom-frame>button>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-choice-intro {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 130px;
    justify-content: start;
    margin-top: 20px;
    width: 250px;
}
.menu-choice-intro>*{
    margin: 0;
    margin-left: 15px;
}
.menu-choice-intro>div {
    line-height: 1.5;
    width: 260px;
    text-align: left;
  word-wrap: break-word;
}

.menu-choice-img{
    border: 0.5px solid #cacaca;
    height: 125px;
    margin-left: 15px;
    width: 125px;
}

.menu-choice-price {
    margin: 0 35px auto auto;
}
.menu-choice-price>p {
    color: #d39b00;
    font-size: 18px;
    font-weight: 700;
}.menu-choice-price>button {
    background-color: #d39b00;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.201);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    width: 60px;
}
/* ______________________________________________________________ */

.menuwindow-frame{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.menuwindow-main{
    margin-top: -150px;
    width: 330px;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border : 1px solid #a3a3a3;
    border-bottom: none ;
    background-color: #f8f8f8;
    overflow-x: hidden;
}
#menucancle{
    background-color: #0000001a;
    border: none;
    color: white;
    position: absolute;
    border-radius: 5px;
}


.plus-minus-div{
    display: flex;
    height: 40px;
    width: 80px;
    align-items: center;
 
}
.menus-title-p{
    font-size: 16px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom:15px;
    margin-left: 15px;
    font-weight: bold;

}
.menus-img-div{
    width: 320px;
    height: 160px;
    border-bottom: 1px solid #dddddd

}

.menus-intro-p{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: auto;
    margin-left: 15px;
    font-size: 13px;
}
.plus-minus-div{
    margin-left: 15px;
    gap: 5px;
}
.plus-minus-div{
    font-size: 20px;
    font-weight: bold;
    width: 320px;
}
.plus-minus-div>button{
    width: 23px;
    height: 23px;
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    border: none;
    box-shadow: 1px 1px 1px #2e2e2e;

}
.plus-minus-div>p:first-child{
    margin-left: 5px;
    margin-right: 5px;
}
.menus-order-form{
    border-top: 2px solid #dddddd;
    height:50px;
    display: flex;
    align-items: center;
}
.menus-price-p{
    margin-left: auto;
    margin-right: 10px;
}
.menus-total-add-div{
        align-items: center;
        background-color: #f8f8f8;
        border: 1px solid #a3a3a3;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;
        display: flex;
        height: 45px;
        margin-top: -350px;
        padding-bottom: 10px;
        padding-top: 10px;
        position: absolute;
        /* -webkit-transform: translateY(463%); */
        transform: translateY(463%);
        width: 330px;
        z-index: 10;

}
.menus-total-price-p1{
    margin: 0px;
     margin-left: 15px;
    font-size: 10px;  
    margin-right: 3px; 
}
.menus-total-price-p2{
    margin: 0px;
    font-size: 14px; 
    font-weight: bold; 
    margin-right: 5px;
   
}
.menus-total-add-button{
    width: 200px;
    height: 80%;
    margin-top: 7px;
    border: none;
    background-color: #d39b00;
    font-size: 16px;
    font-weight: bold;
    margin-right: 25px;
    margin-left: auto;
    color: antiquewhite;
    box-shadow: 1px 1px 1px #2e2e2e;
    border-radius: 50px;
}
.menus-total-price-div{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    width: 85px;
    align-items: center;
}
.menus-total-price-div>p{
    margin:auto
}

/* ______________________________________________________________ */
.container-basket-frame {
    height: 1060px;
    margin-top: 320px;
    position: sticky;
    top: 0;
    width: 1px;
    z-index: 1;
}
.container-basket{
    background-color: #f8f8f8;
    box-shadow: 3px 4px 5px rgba(0,0,0,.201);
    flex-direction: column;
    height: 500px;
    overflow-y: hidden;
    position: absolute;
    right: calc(50vw - 460px);
    top: 0;
    width: 350px;

}
.container-basket-title {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px 6px rgba(0,0,0,.201);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-left: 15px;
    width: 297.5px;
}
.conatiner-basket-menus-frame{
    height: 390px;
    margin-left: 10px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 340px;
}
.container-basket-menus>p{
    margin: 0;
}
.container-basket-menus-num>button{
    background-color: transparent;
    border: none;
}
.container-basket-menus>p{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.container-basket-menus{
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px 6px rgba(0,0,0,.201);
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
    width: 95%;
}

.container-basket-menus-num{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-left: 15px;
}
.container-basket-menus-cancle{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 10px;
    align-content: center;
}
.container-basket-menus-cancle>button{
    margin-right: 15px;
    border-color: #d4d4d4;
}
.container-basket-menus-cancle>p{
    margin: 0;
    margin-left: 15px;
}
.order-button-frame{
    /* background-color: #000000; */
    border: none;
    border-radius: 5px;
    bottom: 1%;
    /* box-shadow: 2px 1px 6px rgba(0,0,0,.201); */
    color: #fafafa;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.order-button-frame>div{
    color: #2e2e2e;
    /* margin-left: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    /* background-color: #ac0534; */
    flex-direction: column;
}
.order-button-frame>div>div:nth-child(1){
    color: #2e2e2e;
    font-size: 5px;
}
.order-button-frame>div>div:nth-child(2){
    color: #2e2e2e;
    font-size: 15px;
}
.order-button{
    background-color: #d39b00;
    border: none;
    border-radius: 5px;
    bottom: 1%;
    box-shadow: 2px 1px 6px rgba(0,0,0,.201);
    color: #fafafa;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    left: 50%;
    width: 70%;
}
/* ---------------------------------------------------------------------------------------- */
.empty-container{
    width: 150px;
    height: 150px;
}

/* ------------------------------------ 리뷰 */
.container-review{
    margin-top:15px ;
    width: 540px;
    height: auto;
    /* background-color: #2e2e2e; */
    text-align: center;
}
.review-child-frame{
    box-sizing: border-box;
    display: inline-block;
    width: 430px;
    height: auto;
    /* background-color: #ac0534; */
    background-color: #f8f8f8;
    box-shadow: 3px 4px 5px rgba(0,0,0,.201);
    
    /* border: 1.5px solid #cacaca; */
    border-radius: 5px;
    /* margin: 0px auto 15px auto; */
    margin-top:15px;
    margin-right:15px;
    padding-bottom: 15px;

}
.review-child-content{
    text-align: start;
    margin: 15px auto 0 auto;
    width:400px;
    height: auto;
    padding-bottom: 15px;
  
}
.review-child-img{
    margin: 0 auto 0 auto;
    width:400px;
    height:300px;
    /* background-color: blue; */
}
.review-active-img{
    width:385px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
}
.review-null-img{
    width:165px;
    height: 125px;
    background-color: transparent;
    color: transparent;
    border: none;
    outline: none;
}
.review-child-img>content>p{
    margin-bottom: 0px;
    
}
.review-id{
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 7px;
}
.review-score{
    font-size: 10px;
}
.review-content{
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: auto;
    text-align: left;
    /* margin-left: 15px; */
}
.review-child-frame>.review-content{
       margin-left: 15px;
       margin-right: 0;
       width: 400px;
}
.reivew-img-frmame{
    margin-left: 5px;
    width: 213.33px;
    height:120px;
    border: 1px solid #cacaca;
}
.review-badge{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #a3a3a3;
}

/* ______________________________________________ */

.container-button{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 20px;
    justify-content: center;
    padding-bottom: 50px;
}.review-page-button{
    margin-right: 4px;
    margin-left: 4px;
}
/* ------------------------------ */

.searching-menu{
    width: 100px;
    height: 100px;
    background-color: #2e2e2e;
}

#menu-search-intro{
    border-bottom: 4px solid #ac0534 ;
}


/* ______________________________________________ 페이지버튼 */

.pagebutton{
    background: none;
}
.pagebutton-frame{
    width: 100%;
    height: 25px;
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
    justify-content: center;
}


/* __________________________________________________ */
.container-review-save{
    margin-top: 15px;
    width: 100%;
    height: 500px;
    /* background-color: #666; */
    display: flex;
    flex-direction: column;
    
}
.review-save-file{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.review-save-text{
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    height: 30px;
    width: 400px;
    padding-left: 7px;
    padding-bottom: 100px;
    text-align: left;
    overflow: auto;
}
.review-save-score-frame{
    margin-bottom: 5px;
}
.review-save-score-frame > button{
    border:none;
    background-color: transparent;
    font-size: 20px;
    color: rgb(255, 166, 0);


}
.review-save-score-button{
    width: 402px;
    height: 30px;
    border: 0px;
    border-radius:15px;
    background-color: #d39b00;
    box-shadow: 2px 1px 6px rgba(0,0,0,.201);

}
.label-file{
    display: block;
    /* background-color: black; */
    height: 28px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2e2e2e; */
}
.review-save-file-view{
    width: 150px;
    height: 25px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    margin-right: 2px;
    padding-left: 7px;
}
#link{
    font-size: 15px;
}
.file-frame{
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;

}
#search-file{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
